<h2> ALL DAYCARES </h2>

<% @daycares.each do |daycare| %>
  <p> <%= link_to "#{daycare.name}", daycare %> </p>
<% end %>

<% if current_user %>
  <div id="new_daycare_link">
    <%= link_to "ADD A NEW DAYCARE", new_daycare_path %>
  </div>
<% end %>
