
<!-- <div class="home_login_section">
  <img src="/home_1_copy_2.png" height="370", width="700">
    <p>Welcome to Simple Dog! Create an account and join our network of doggy-daycare centers to make quick and simple reservations for your dog!</p>
</div> -->

<div class="welcome_section">
  <!-- <img src="/home_1_copy_2.png" height="450" width="800"> -->

  <!-- <div class="over">
    <p>Welcome to Simple Dog!</p>
    <p>Create an account and join our network of doggy-daycare centers!</p>
  </div> -->

  <img src="/home_pic_1.png" height="450" width="800">

</div>

<!-- <div class="welcome_section">
  <img src="/home_1.png" height="300" width="500">
  <p>Welcome to Simple Dog! Create an account and join our network of doggy-daycare centers to make quick and simple reservations for your dog!</p>
</div> -->

<div class="home_sec2">

  <div class="browse_daycare_ad">
    <p>Browse our network of daycare centers!</p>
    <img src="/dc_pic_0.png" height="200" width="250">
  </div>

  <div class="sign_up_ad">
    <p>Sign Up Now!</p>
    <img src="/logo_1.png">
  </div>

</div>
<img class="home_ad" src="/ad_2.png" height="262" width="729">
<!-- <img class="home_ad" src="/ad_2.png" height="175" width="486"> -->
